<h1>Cập nhật thông tin sản phẩm</h1>
<a routerLink="">Quay Lại Trang Danh Sách</a>
<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
  <table>
    <tr>
      <td><input type="hidden" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="nameProduct"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục sản phẩm:</td>
      <td>
        <select formControlName="category" [compareWith]="compareWithId">
          <option *ngFor="let item of categoryList" [ngValue]="item">{{item.nameCategory}}</option>
        </select>
      </td>
    </tr>
    <tr>
    <tr>
      <td></td>
      <td><button>Cập nhật</button></td>
    </tr>
  </table>
</form>

