<div class="row">
  <footer>
    <div class="text-center" style="background-color:midnightblue;color: white; margin:0;padding-right: 0">
      <p>
        <i class="fa-solid fa-location-dot"></i>
        Địa Chỉ: 2.. Tran Hung Dao Street,Son tra District, Danang City,
        Vietnam
        Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666
        Email: condegymdannag.com * www.codegymvietnam.com GDS Codes: Amadeus-GD DADFUR,
        Galileo/Apollo-GD
        16236, Sabre-GD 032771, Worldspan- GD DADFU</p>
    </div>
  </footer>
</div>
