<p>calculator works!</p>



<h2>Calculator_Editor</h2>


<form>
  <div class="mb-3">
    <label for="firstNumber" class="form-label">First number</label>
    <input type="number" class="form-control" id="firstNumber" aria-describedby="emailHelp" [(ngModel)]="firstNumber"
           name="firstNumber">
  </div>
  <div class="mb-3">
    <label for="secondNumber" class="form-label">Second number</label>
    <input type="number" class="form-control" id="secondNumber" [(ngModel)]="secondNumber" name="secondNumber">
  </div>
  <select name="option" #cal>
    <option value="add">Summation(+)</option>
    <option value="sub">Subtraction(-)</option>
    <option value="mul">Multiplication(X)</option>
    <option value="div">Division(/)</option>
  </select>
  <input type="submit" (click)="calculation(cal.value)">
</form>

<h2>Kết quả: {{resultNumber}}</h2>
