<h1>Xoá sản phẩm</h1>
<a routerLink="">Quay Lại Trang Danh Sách</a>
<form [formGroup]="productForm" (ngSubmit)="deleteProduct(productId)">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="nameProduct"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>
        <button>Xoá</button>
      </td>
    </tr>
  </table>
</form>
